#password-box {
  margin: 20px;
}

:host ::ng-deep mat-chip-listbox mat-chip {
  --mdc-chip-label-text-color: black;
}

mat-card-header {
  display: flex;
  justify-content: center;
}
mat-card {
  max-width: 600px;
  margin: auto;
  height: max-content;
}

p {
  margin: 10px 0;
}
