<div id="password-box">
  <mat-card>
    <mat-card-header>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            id="password"
            name="password"
            type="text"
            (input)="onPasswordChange($event)"
          />
        </mat-form-field>
        <mat-chip-listbox>
          <mat-chip
            [ngStyle]="{
              background: easyStrength
            }"
          >
            the password is easy
          </mat-chip>
          <mat-chip
            [ngStyle]="{
              background: mediumStrength
            }"
          >
            the password is medium
          </mat-chip>
          <mat-chip
            [ngStyle]="{
              background: strongStrength
            }"
          >
            the password is strong
          </mat-chip>
        </mat-chip-listbox>
      </form>
    </mat-card-header>
  </mat-card>
</div>
